<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/Public/css/login.css" rel="stylesheet" />
    <link rel="shortcut icon" href="https://naem.edu.vn/uploads/files/logo.png">
</head>
<body>
    <div>
        @RenderBody()
    </div>
</body>
</html>
