
@{
    ViewBag.Title = "Giới Thiệu Về Học Viện Quản Lý Giáo Dục";
    Layout = "~/Views/Shared/MyLayout.cshtml";
}

<div class="about">
    <div class="about__main">
        <h3>Về Học Viện Quản Lý Giáo Dục</h3>
        <p class="first__para">
            Học Viện Quản lý Giáo Dục là trường đại học tư thục, phi lợi nhuận được thành lập bởi Tập đoàn Vingroup - Tập đoàn tư nhân lớn nhất Việt Nam. Học Viện Quản lý Giáo Dục mong muốn trở thành trường đại học xuất sắc với sứ mệnh phát triển tài năng cho tương lai.
        </p>
        <p class="second__para">
            Trường đã xây dựng mối quan hệ hợp tác chiến lược với Đại học Cornell và Đại học Pennsylvania - một sự lựa chọn nói lên cam kết của chúng tôi về sự xuất sắc, đổi mới trong nghiên cứu và giảng dạy cũng như tạo ra sự khác biệt trên thế giới.<br />
            <br />
            Học Viện Quản lý Giáo Dục bao gồm Trường Cao đẳng Khoa học và Nghệ thuật; Cao đẳng Kinh doanh và Quản lý; Cao đẳng Kỹ thuật và Khoa học Máy tính; và Trường Cao đẳng Khoa học Y tế. Mọi khía cạnh của Trường: chương trình giảng dạy, nghiên cứu, giảng viên, sinh viên, cơ sở vật chất và cuộc sống trong khuôn viên trường, đều được phát triển để đáp ứng các tiêu chuẩn cao nhất do các tổ chức kiểm định và xếp hạng hàng đầu thế giới đặt ra, chẳng hạn như ABET, AACSB, Quacquarelli Symonds (QS) , và Times Higher Education (THE). <br />
            <br />
            Học viện cũng đã ký các thỏa thuận hợp tác để cung cấp bằng kép tích hợp với các trường đại học hàng đầu về khoa học máy tính, kỹ thuật, quản lý kinh doanh và khoa học sức khỏe.<br />
            <br />
            Vào tháng 10 năm 2020, lễ khánh thành Học Viện Quản lý Giáo Dục đã được tổ chức tại khuôn viên xinh đẹp tọa lạc tại Vinhomes Ocean Park, Hà Nội, Việt Nam. Trường được thành lập với tổng vốn đầu tư 6.500 tỷ đồng (tương đương 285 triệu USD) từ Tập đoàn Vingroup.<br />
        </p>

        <div class="about__main-col">
            <div class="about__main-col-6">
                <div class="about__main-col-center">
                    <h3>Tầm nhìn của chúng tôi</h3>
                    <p>
                        Học Viện Quản lý Giáo Dục là trường đại học tư thục, phi lợi nhuận đầu tiên của Việt Nam được thành lập dựa trên các tiêu chuẩn quốc tế. Trường tích hợp mô hình trường đại học quốc tế xuất sắc với những nét đặc sắc về văn hóa và kinh tế của Việt Nam, nhằm tạo bước đột phá trong giáo dục đại học Việt Nam và trở thành trường đại học đẳng cấp quốc tế.
                    </p>
                </div>
            </div>
            <div class="about__main-col-6">
                <img src="https://vinuni.edu.vn/wp-content/uploads/2020/05/about-vision-670x536.png" alt="Tầm nhìn của chúng tôi" />
            </div>
        </div>

        <div class="about__main-col">
            <div class="about__main-col-6">
                <img src="https://vinuni.edu.vn/wp-content/uploads/2020/05/about-mission-670x536.png" alt="Tầm nhìn của chúng tôi" />
            </div>
            <div class="about__main-col-6">
                <div class="about__main-col-center">
                    <h3>Nhiệm vụ của chúng tôi</h3>
                    <p>
                        Sứ mệnh của Học Viện Quản lý Giáo Dục là giáo dục và đào tạo những cá nhân xuất sắc, có kiến ​​thức, năng lực và đam mê đóng góp để cải thiện bản thân và điều kiện xã hội, truyền cảm hứng cho thế hệ hiện tại và tiếp theo, đồng thời tạo ra những tác động tích cực lâu dài đến sự phát triển toàn cầu.
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="about__excel">
        <img src="https://vinuni.edu.vn/wp-content/uploads/2020/10/Excel.jpg" />
        <div class="about__excel-left">
            <div class="about__excel-left-text">
                <h3>
                    Giá trị cốt lõi:
                    <span>
                        tuyệt vời
                    </span>
                </h3>
                <h4>
                    Trường đại học xuất sắc, phát triển tài năng cho tương lai
                </h4>
            </div>
        </div>
    </div>

    <div class="img__group">
        <div class="img__group-1">
            <img src="https://vinuni.edu.vn/wp-content/uploads/2020/05/about-value-1.png" alt="" />
        </div>
        <div class="img__group-2">
            <h3>
                E: Đồng cảm<br />

                Cảm nhận cảm xúc của người khác, hiểu người khác mà không phán xét.
            </h3>
        </div>
        <div class="img__group-3">
            <img src="https://vinuni.edu.vn/wp-content/uploads/2020/05/about-value-3.png" alt="" />
        </div>
        <div class="img__group-4">
            <h3>

                X: Khả năng vượt trội<br />

                Những khả năng và năng lực đặc biệt được chứng minh là yếu tố quyết định sự thành công trong tương lai.
            </h3>
        </div>
        <div class="img__group-5">
            <img src="https://vinuni.edu.vn/wp-content/uploads/2020/05/about-value-5.png" alt="" />
        </div>
    </div>

    <div class="img__group">
        <div class="img__group-1 img__group-content">
            <h3>
                C: Sáng tạo<br />

                Nhận thức thế giới theo những cách mới, tạo kết nối, tạo ra các giải pháp.
            </h3>
        </div>
        <div class="img__group-2">
           <img src="https://vinuni.edu.vn/wp-content/uploads/2020/05/about-value-2.png" alt=""/> 
        </div>
        <div class="img__group-3 img__group-content">
            <h3>
                E: Tư duy kinh doanh<br />

                Vượt qua thử thách, quyết đoán, chịu trách nhiệm, có tác động đối với xã hội.
            </h3>
        </div>
        <div class="img__group-4">
            <img src="https://vinuni.edu.vn/wp-content/uploads/2020/05/about-value-4.png" alt="" />
        </div>
        <div class="img__group-5 img__group-content">
            <h3>

                L: Tinh thần lãnh đạo<br />

                Thúc đẩy và ảnh hưởng mọi người hành động để đạt được mục tiêu chung.
            </h3>
        </div>
    </div>

    <div class="important">
        <div class="important__container">
            <div class="important__title">
                <h3>
                    các mốc quan trọng
                </h3>
                <br />
                <p>
                    Cùng nhìn lại những dấu mốc trên chặng đường xây dựng trường đại học ưu tú đầu tiên của Học Viện Quản Lý Giáo Dục tại Việt Nam.
                </p>
            </div>
            <div class="important__list">
                <div class="important__list-left">
                    <h3>2022</h3>
                </div>

                <div class="important__list-right">
                    <h4 class="important__list-r1">Tháng 10 năm 2022</h4>
                    <hr />
                    <p>
                        Trung tâm mô phỏng y tế Học Viện Quản Lý Giáo Dục đã nhận được Chứng nhận tạm thời bởi Hiệp hội mô phỏng trong chăm sóc sức khỏe (SSH) - tổ chức công nhận lớn nhất thế giới chuyên đào tạo mô phỏng chăm sóc sức khỏe.
                    </p>
                    <h4 class="important__list-r2">Tháng 10 năm 2022</h4>
                    <hr />
                    <p>
                        Học Viện Quản Lý Giáo Dục là trường đại học trẻ nhất trong khu vực Châu Á - Thái Bình Dương được QS (Quacquarelli Symonds) xếp hạng 5 Sao ở 7 hạng mục chỉ sau 2 năm đi vào hoạt động.
                    </p>
                    <h4 class="important__list-r3">Tháng 10 năm 2022</h4>
                    <hr />
                    <p>
                        Học Viện Quản Lý Giáo Dục đã ra mắt Phòng thí nghiệm Doanh nhân vật lý (E Lab) và tổ chức Tuần lễ Doanh nhân.
                    </p>
                    <h4 class="important__list-r4">Tháng 10 năm 2022</h4>
                    <hr />
                    <p>
                        Trường Cao đẳng Quản lý Kinh doanh đã bổ nhiệm 02 Chủ tịch Học thuật, là những giáo sư có uy tín trong lĩnh vực tương ứng của họ và 02 Chủ tịch Công nghiệp, là những nhà lãnh đạo ngành, doanh nhân cũng như những người ủng hộ mạnh mẽ cho giáo dục và nuôi dưỡng nhân tài.
                    </p>
                    <h4 class="important__list-r5">Tháng 9 năm 2022</h4>
                    <hr />
                    <p>
                        Trường Cao đẳng Kinh doanh & Quản lý Học Viện Quản Lý Giáo Dục và Trường Cao đẳng Khoa học & Nghệ thuật đã ký kết thỏa thuận hợp tác với Giám đốc Hiệp hội Cán bộ Kinh doanh và Tiếp thị Việt Nam.
                    </p>
                    <h4 class="important__list-r6">Tháng 9 năm 2022</h4>
                    <hr />
                    <p>
                        Trường Cao đẳng Khoa học Y tế Học Viện Quản Lý Giáo Dục và Trường Điều dưỡng Đại học Minnesota (Hoa Kỳ) đã ký kết thỏa thuận hợp tác về hợp tác và trao đổi học thuật.
                    </p>
                    <h4 class="important__list-r7">Tháng 9 năm 2022</h4>
                    <hr />
                    <p>
                        VAIPE - Hệ thống chăm sóc sức khỏe thông minh cho người Việt do nhóm nghiên cứu tại Trung tâm sức khỏe thông minh VinUni-Illinois và các đối tác phát triển, đã được công bố là một trong những người chiến thắng Giải thưởng AI 2022.
                    </p>
                    <h4 class="important__list-r8">Tháng 8 năm 2022</h4>
                    <hr />
                    <p>
                        Học Viện Quản Lý Giáo Dục đã ký thỏa thuận hợp tác với Đại học Queensland (UQ) tại Úc về việc triển khai chương trình Cử nhân-Thạc sỹ tích hợp cho sinh viên Cao đẳng Kỹ thuật & Khoa học Máy tính.
                    </p>
                    @*  *@
                    <h4 class="important__list-r9">Tháng 8 năm 2022</h4>
                    <hr />
                    <p>
                        Chương trình Điều dưỡng Học Viện Quản Lý Giáo Dục đủ điều kiện để theo đuổi Ứng viên ACEN (Hoa Kỳ). ACEN được công nhận là cơ quan hàng đầu về kiểm định chất lượng giáo dục điều dưỡng trên toàn thế giới.
                    </p>
                    <h4 class="important__list-r10">Tháng 7 năm 2022</h4>
                    <hr />
                    <p>
                        Học Viện Quản Lý Giáo Dục và Đại học Illinois tại Urbana-Champaign đã công bố khai trương Trung tâm Y tế Thông minh VinUni-Illinois (VISHC), nơi tập trung vào nghiên cứu liên ngành trong công nghệ sinh học và khoa học dữ liệu. VISHC chính thức được Vingroup tài trợ 13,5 triệu USD.
                    </p>
                </div>
            </div>
        </div>
    </div>
        <div class="important__img">
            <img src="https://vinuni.edu.vn/wp-content/uploads/2020/05/about-timeline.png" alt=""/>
        </div>
</div>

