
@{
    ViewBag.Title = "Tuyển Sinh - Học Viện Quản Lý Giáo Dục";
    Layout = "~/Views/Shared/MyLayout.cshtml";
}

<div class="train">
    <div class="train__container">
        <div class="train__container-first">
            <h3>
                Nhập học tại học viện quản lý giáo dục
            </h3>
            <p>
                Tuyển sinh tại Học Viện Quản Lý Giáo Dục được thiết kế dựa trên tâm trí của sinh viên - bạn - của chúng tôi. Đó là lý do tại sao quy trình của chúng tôi đơn giản, chu đáo và cho bạn nhiều không gian để thể hiện bản thân. Mục tiêu của chúng tôi là giáo dục và đào tạo những tài năng xuất sắc; do đó, trường cam kết cung cấp học bổng hào phóng và hỗ trợ tài chính cho những sinh viên tài năng xứng đáng.
                <br />
                <br />
                Chúng tôi không phải là một trường đại học đặc quyền, nhưng thực sự là một trường đại học của những tài năng. Chào mừng bạn đến với bước đầu tiên trong việc thể hiện tài năng của bạn và hiện thực hóa cam kết mà bạn mang lại cho cộng đồng của chúng tôi, Việt Nam và thế giới!
            </p>
        </div>
        <div class="train__container-sencond">
            <div class="train__container-img-left">
                <img src="https://vinuni.edu.vn/wp-content/uploads/2020/11/D8H6643-e1604912430948-670x560.jpg" alt="TUYỂN SINH ĐẠI HỌC" />
            </div>
            <div class="train__container-img-right">
                <h3>
                    TUYỂN SINH ĐẠI HỌC
                </h3>
                <p>
                    Học Viện Quản Lý Giáo Dục tìm kiếm những nhân tài có tố chất vượt trội, tư duy sáng tạo, khát khao sáng tạo và phát triển những ý tưởng, sản phẩm xuất sắc, mang lại giá trị tích cực cho cuộc sống con người. Chúng tôi thực hiện đánh giá đơn đăng ký toàn diện để hiểu các ứng viên là “toàn bộ con người”, tương tự như các trường đại học Ivy League. Quy trình này được thể hiện bằng các tiêu chí AACC duy nhất của chúng tôi (Khả năng vượt trội, Khát vọng, Sáng tạo và Cam kết) được đặt ra trong một quy trình minh bạch và công bằng với một cuộc sàng lọc trước và hai vòng đánh giá - được nhấn mạnh bằng một cuộc phỏng vấn với giảng viên Học Viện Quản Lý Giáo Dục.
                    <br />
                    <br />
                    Để tìm hiểu thêm, bấm vào <a href="#" style="text-decoration:none; color: var(--dark-red);font-weight: bold">đây</a>.
                </p>
            </div>
        </div>

        <div class="train__container-third">
            <div class="train__container-third-left">
                <h3>
                    TUYỂN SINH SAU ĐẠI HỌC
                </h3>
                <p>
                    Chương trình đào tạo sau đại học y khoa tại NAEM dựa trên năng lực duy nhất và hoạt động theo tiêu chuẩn quốc tế. Nó nhấn mạnh vào cách tiếp cận toàn diện để đánh giá kiến ​​thức, kỹ năng, thái độ và hiểu biết sâu sắc của những người nộp đơn mong muốn trở thành một bác sĩ chuyên khoa có năng lực và hiệu quả cao. Quy trình nhập học rất nghiêm ngặt và bao gồm xét duyệt hồ sơ, kiểm tra đầu vào cư trú IFOM (lần đầu tiên ở Việt Nam sử dụng bài kiểm tra này) và phỏng vấn sâu.
                    <br /><br />
                    Để tìm hiểu thêm, bấm vào <a href="#" style="text-decoration:none; color: var(--dark-red);font-weight: bold">đây</a>.
                </p>
            </div>
            <div class="train__container-third-right">
                <img src="https://vinuni.edu.vn/wp-content/uploads/2020/11/DSC01409-e1604912507937-670x560.jpg" alt="TUYỂN SINH SAU ĐẠI HỌC" />
            </div>
        </div>

        <div class="train__container-sencond">
            <div class="train__container-img-left">
                <img src="https://vinuni.edu.vn/wp-content/uploads/2020/11/Vingroup-Scholars-e1604912591712-670x560.jpg" alt="HỌC BỔNG THẠC SĨ / TIẾN SĨ Ở NƯỚC NGOÀI" />
            </div>
            <div class="train__container-img-right">
                <h3>
                    HỌC BỔNG THẠC SĨ / TIẾN SĨ Ở NƯỚC NGOÀI
                </h3>
                <p>
                    Chương trình học bổng danh giá này do Học Viện Giáo Dục quản lý, là nỗ lực của Vingroup trong việc thúc đẩy nguồn lực khoa học và công nghệ tại Việt Nam. Nó tích cực tìm kiếm và tuyển dụng những tài năng tốt nhất trong các lĩnh vực có tác động cao được chọn lọc và cung cấp cho họ sự hỗ trợ toàn diện - từ đào tạo học thuật đến tài trợ - để trở thành những nhà lãnh đạo nâng cao năng lực cho tiến bộ khoa học và công nghệ ở Việt Nam.
                    <br /><br />
                    Để tìm hiểu thêm, bấm vào <a href="#" style="text-decoration:none; color: var(--dark-red);font-weight: bold">đây</a>.

                </p>
            </div>
        </div>

        

        
    </div>
</div>


