
@{
    ViewBag.Title = "Nghiên Cứu Khoa Học Của Học Viện Quản Lý Giáo Dục";
    Layout = "~/Views/Shared/MyLayout.cshtml";
}

<div class="research">
    <div class="research__container">
       <div class="research__container-left">
           <p>
               Tư duy kinh doanh, niềm đam mê đổi mới và quyết tâm vượt qua ranh giới kỷ luật để giải quyết các vấn đề thực tế nhằm cải thiện tình trạng con người - các nhà nghiên cứu và học giả của chúng tôi theo đuổi nghiên cứu tiên tiến bao gồm các khái niệm đa dạng như triết lý công nghệ, đổi mới dịch vụ trong lĩnh vực dịch vụ, phát hiện mầm bệnh trong nước thải, lo ngại về quyền riêng tư trên các phương tiện tự động, trí tuệ nhân tạo để cải thiện các phương pháp điều trị y tế và nhiều hoạt động khác.
           </p>
       </div>
        <div class="research__container-right">
            <h3>
                đường dẫn nhanh
            </h3>
            <ul>
                <li>
                    <a href="#">Thư viện Học Viện Quản Lý Giáo Dục</a>
                </li>
                <li>
                    <a href="#">Cayuse</a>
                </li>
                <li>
                    <a href="#">PIVOT - RP</a>
                </li>
                <li>
                    <a href="#">Cơ sở dữ liệu SCOPUS</a>
                </li>
                <li>
                    <a href="#">ORCID</a>
                </li>
                <li>
                    <a href="#">Câu hỏi thường gặp</a>
                </li>
            </ul>
       </div>
    </div>

    <div class="research__news">
        <div class="research__news-title">
            <h3>
                tin tức nghiên cứu
            </h3>
            <a href="#">
                <span>xem thêm</span>
                <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-arrow-right-short" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z" />
                </svg>
            </a>
        </div>
        <div class="research__news-content">
            <div class="research__news-col-3">
                <a href="#"><img src="https://vinuni.edu.vn/research/wp-content/uploads/2022/09/towfiqu-barbhuiya-ho-p7qLBewk-unsplash-1024x683.jpg" alt="" /></a>
                <div class="research__news-text">
                    <span>29 Tháng 12, 2022</span>
                    <a href="#"><h4>Nghệ thuật và khoa học của việc viết các đề xuất thành công</h4></a>
                </div>
            </div>
            <div class="research__news-col-3">
                <a href="#"><img src="https://vinuni.edu.vn/research/wp-content/uploads/2022/07/HASS-e1593415877921-1536x461-2-660x410-1.jpeg" alt="" /></a>
                <div class="research__news-text">
                    <span>11 Tháng 10, 2022</span>
                    <a href="#"><h4>hành vi đồng sáng tạo giá trị của khách hàng</h4></a>
                </div>
            </div>
            <div class="research__news-col-3">
                <a href="#"><img src="https://vinuni.edu.vn/research/wp-content/uploads/2022/09/doctor-holding-tweezers-1-660x410-1-300x186.jpg" alt="" /></a>
                <div class="research__news-text">
                    <span>08 Tháng 9, 2022</span>
                    <a href="#"><h4>theo dõi sự thật và kiến thức từ thực tế Virtual</h4></a>
                </div>
            </div>
        </div>
    </div>

    <div class="explore">
        <div class="explore__title">
            <h3>Khám phá nghiên cứu Học Viên Quản Lý Giáo Dục</h3>
        </div>
        <div class="explore__content">
            <div class="explore__content-col-left">
                <div class="explore__content-col">
                    <img src="https://vinuni.edu.vn/research/wp-content/uploads/2022/09/pexels-photo-269633-e1662700310483.jpeg" alt="" />
                    <img src="https://vinuni.edu.vn/research/wp-content/uploads/2022/09/CECS-e1662699963786.jpg" alt="" />
                </div>
            <div class="explore__content-col explore__two">
                <img src="https://vinuni.edu.vn/research/wp-content/uploads/2022/09/CBM-e1662700071952.jpg" alt="" />
                <img src="https://vinuni.edu.vn/research/wp-content/uploads/2022/09/CHS-e1662700571453.jpg" alt="" />
            </div>
            </div>
            <div class="explore__content-col-right">
                <div class="explore__content-right-child">
                    <h3>tìm kiếm khoa Học Viện Quản Lý Giáo Dục</h3>
                    <select name="department" id="department">
                        <option value="LC">Lựa chọn trường đại học</option>
                        <option value="CDKDVQL">Cao đẳng Kinh doanh và Quản lý</option>
                        <option value="CDNTVKH">Cao đẳng Nghệ thuật Và Khoa học</option>
                        <option value="CDKTVKHMT">Cao đẳng Kỹ thuật & Khoa Học Máy tính</option>
                        <option value="DHKHSK">Trường đại học khoa học sức khỏe</option>
                    </select>

                    <select name="research_area" id="research_area">
                        <option value="LC">Lựa chọn khu vực nghiên cứu</option>
                        <option value="KTC">Khung tính toán</option>
                        <option value="TGVN">Tôn giáo Việt Nam</option>
                        <option value="DP">Đạo Phật</option>
                        <option value="VT">Võ thuật</option>
                        <option value="QLKT">Quản lý kiến thức</option>
                        <option value="DD">Đa dạng</option>
                    </select>

                    <input type="text" id="lname" name="lname" placeholder="Họ">
                </div>
                <div class="explore__content-right-btn">
                    <button>tìm kiếm</button>
                    <button>reset</button>
                </div>
            </div>
            </div>
    </div>

    <div class="result">
        <div class="result__title">
            <h3>
                Những trung tâm nghiên cứu
            </h3>
        </div>
        <div class="result__news">
            <img src="https://vinuni.edu.vn/research/wp-content/uploads/2022/08/Smart-Health-Center-1.png" alt=""/>
            <h4 class="first__1">
                Tác Giả: <a href="#"><span>giáo sư minh đỗ</span></a>
            </h4>
            <a href="#">
                <h4>
                    trung tâm y tế thông minh VISLC
                </h4>
            </a>
        </div>
    </div>
</div>

