
@{
    ViewBag.Title = "Chương Trình Đào Tạo Của Học Viện Quản Lý Giáo Dục";
    Layout = "~/Views/Shared/MyLayout.cshtml";
}

<div class="train">
    <div class="train__container">
        <div class="train__container-first">
            <h3>
                các chương trình học tại học viện quản lý giáo dục
            </h3>
            <p>
                Nhấn mạnh vào việc học tập tích cực trong chương trình giảng dạy do Đại học Cornell và Đại học Pennsylvania đồng thiết kế và xác nhận, nằm trong khuôn viên được QS đánh giá 5 sao về Cơ sở vật chất, Phát triển Học thuật và Tính hòa nhập, Học Viện Quản Lý Giáo Dục sẽ chuẩn bị cho bạn thành công trong bất kỳ lĩnh vực nào bạn theo đuổi, không chỉ ở Việt Nam mà ở bất cứ đâu trên thế giới.<br />
                <br />
                Bạn sẽ tốt nghiệp với bằng cấp dựa trên các tiêu chuẩn quốc tế cao nhất về nghiên cứu và giảng dạy, điều này sẽ trang bị cho bạn những kỹ năng cần thiết cho sự nghiệp thành công. Để thúc đẩy việc học tập suốt đời, bạn với tư cách là sinh viên sẽ được đắm mình trong một loạt các môn học trong khoa học tự nhiên, khoa học xã hội, nghệ thuật và nhân văn, và các hoạt động ngoại khóa khác do  Trường Cao đẳng Nghệ thuật và Khoa học cung cấp . Đây là ngôi nhà đầu tiên dành cho tất cả sinh viên khi họ bước vào hành trình khám phá bản thân, trau dồi sáu thuộc tính để thành công: Tính cách, Năng lực, Tư duy phản biện, Lãnh đạo, Tinh thần doanh nhân và Niềm tự hào Quốc gia-Nhận thức Toàn cầu.
                <br />
                <br />
                Học Viện Quản Lý Giáo Dục có ba trường Cao đẳng và cung cấp một loạt các chương trình cấp bằng như sau:
            </p>
        </div>
        <div class="train__container-sencond">
            <div class="train__container-img-left">
                <img src="https://vinuni.edu.vn/wp-content/uploads/2021/05/STU_7731-scaled-e1621244523692-670x560.jpg" alt="" />
            </div>
            <div class="train__container-img-right">
                <h3>
                    cao đẳng kinh doanh và quản lý
                </h3>
                <p>
                    Nỗ lực thúc đẩy văn hóa khởi nghiệp, phát triển thế hệ lãnh đạo có phẩm chất xuất sắc, năng lực vượt trội và tầm nhìn toàn cầu. Các chương trình bao gồm:
                    <br />
                    <br />
                    - Cử nhân Quản trị Kinh doanh<br />
                    <br />
                    - Cử nhân Khoa học Quản lý Nhà hàng Khách sạn
                </p>
            </div>
        </div>

        <div class="train__container-third">
            <div class="train__container-third-left">
                <h3>
                    CAO ĐẲNG KỸ THUẬT & KHOA HỌC MÁY TÍNH
                </h3>
                <p>
                    Phấn đấu giáo dục và đào tạo ra thế hệ lãnh đạo trẻ có phẩm chất tư duy đột phá, đóng góp vào sự phát triển của xã hội dựa trên tri thức, khoa học và công nghệ. Các chương trình bao gồm:
                    <br />
                    <br />
                    - Cử nhân Khoa học Kỹ thuật Điện<br />
                    <br />

                    - Cử nhân Khoa học Kỹ thuật Cơ khí <br />
                    <br />
                    - Cử nhân Khoa học Máy tính
                </p>
            </div>
            <div class="train__container-third-right">
                <img src="https://vinuni.edu.vn/wp-content/uploads/2021/05/TIEN9754-e1621244791429-670x560.jpg" alt="" />
            </div>
        </div>

        <div class="train__container-sencond">
            <div class="train__container-img-left">
                <img src="https://vinuni.edu.vn/wp-content/uploads/2022/02/Medical-Lab-scaled-e1649153778499-670x560.jpg" alt="" />
            </div>
            <div class="train__container-img-right">
                <h3>
                    TRƯỜNG ĐẠI HỌC KHOA HỌC SỨC KHỎE
                </h3>
                <p>
                    Nỗ lực chuyển đổi chất lượng chăm sóc sức khỏe cho Việt Nam và thế giới thông qua những đột phá sáng tạo trong nghiên cứu, công nghệ và giáo dục. Các chương trình bao gồm:
                    <br />
                    <br />
                    - Dược sĩ<br />
                    <br />

                    - Cử nhân điều dưỡng <br />
                    <br />
                    - Chương trình Nội trú Nội trú<br />
                    <br />
                    - Chương trình Nội trú Ngoại khoa<br />
                    <br />
                    - Chương trình Nội trú Nhi khoa
                </p>
            </div>
        </div>

        <div class="train__container-third">
            <div class="train__container-third-left">
                <h3>
                    TRƯỜNG CAO ĐẲNG NGHỆ THUẬT VÀ KHOA HỌC
                </h3>
                <p>
                    Cố gắng cung cấp phần lớn các chương trình Giáo dục Phổ thông của VinUni và điều phối các khóa học giáo dục phổ thông của các trường cao đẳng khác, cung cấp các chương trình liên ngành / đa ngành / xuyên ngành. Chúng tôi mong muốn cung cấp sự xuất sắc trong giáo dục và nghiên cứu đại học và sau đại học, sự đa dạng, trí tuệ tò mò (phổ kiến ​​thức rộng lớn của con người trong khoa học tự nhiên, khoa học xã hội, nhân văn hoặc đa ngành) và học tập được cá nhân hóa và suốt đời.
                </p>
            </div>
            <div class="train__container-third-right">
                <img src="https://vinuni.edu.vn/wp-content/uploads/2022/07/TIEN9782-4-670x560.jpg" alt="" />
            </div>
        </div>
    </div>
</div>

