
@{
    ViewBag.Title = "Hoạt Động - Cuộc Sống Tại Học Viện Quản Lý Giáo Dục";
    Layout = "~/Views/Shared/MyLayout.cshtml";
}

<div class="train">
    <div class="train__container">
        <div class="train__container-first">
            <h3>
                Cuộc sống tại học viện quản lý giáo dục
            </h3>
            <p>
                Chào mừng đến với khu nội trú của Học Viện Quản Lý Giáo Dục. Chúng tôi hiểu rằng việc chuyển ra khỏi nhà và chuyển đến sống tại một trường đại học là một khoảng thời gian thú vị với rất nhiều điều để bạn tìm hiểu. Tại Học Viện Quản Lý Giáo Dục, bạn sẽ thấy rằng sống trong khuôn viên trường là một phần không thể thiếu trong trải nghiệm năm đầu tiên của bạn. Chúng tôi hy vọng rằng bạn sẽ phát triển một ý thức tôn trọng và quan tâm đến người khác; đưa ra những lựa chọn có trách nhiệm về lối sống của bạn; chia sẻ kinh nghiệm học tập, xã hội và văn hóa của bạn với các cư dân khác; và học cách sống độc lập nhưng hòa hợp với một nhóm người đa dạng. Chúng tôi khuyến khích bạn tích cực tham gia vào cộng đồng của mình theo quyền lợi và trách nhiệm của bạn với tư cách là cư dân trong khuôn viên Đại học VinUniversity. Vì chúng tôi học tập, làm việc và sống cùng nhau ở đây, chúng tôi cũng khuyến khích bạn thích nghi với bầu không khí của:
                <br />
                <br />
                <strong>Cởi mở: </strong>Luôn cởi mở với sự đa dạng về chủng tộc, văn hóa, giới tính và tôn giáo cũng như xu hướng tình dục.<br />
                <br />
                <strong>Chia sẻ và Tôn trọng : </strong>Đối xử với mọi người, tài sản và môi trường bằng sự quan tâm và tôn trọng.<br />
                <br />
                <strong>Lối sống lành mạnh: </strong>Ăn uống lành mạnh, tập thể dục hàng ngày, sống vui vẻ và tốt với nhau.<br />
                <br />
                Chúng tôi chân thành chúc bạn có một trải nghiệm tích cực không thể quên với tư cách là cư dân Học Viện Quản Lý Giáo Dục! Để giúp bạn chuẩn bị và hưởng lợi từ cuộc sống đại học của mình, vui lòng xem <a href="#" style="color:var(--color-blue);text-decoration: none;font-weight: bold"> hướng dẫn này</a>.
            </p>
        </div>
        <div class="train__container-sencond">
            <div class="train__container-img-left">
                <img src="https://vinuni.edu.vn/wp-content/uploads/2020/07/D8H8712_resize-e1596188061377-670x560.jpg" alt="Hội Đồng Sinh Viên" />
            </div>
            <div class="train__container-img-right">
                <h3>
                    HỘI ĐỒNG SINH VIÊN
                </h3>
                <p>
                    Hội đồng Sinh viên (SC) đóng vai trò là tiếng nói của sinh viên, đảm bảo rằng tất cả các tiếng nói đều được lắng nghe và giải quyết. SC là một nhóm sinh viên được bầu chọn và tình nguyện làm việc cùng nhau trong khuôn khổ của hiến pháp hoặc điều luật để cung cấp phương tiện giúp sinh viên thể hiện và hỗ trợ trong các công việc và hoạt động của trường, tạo cơ hội cho sinh viên có kinh nghiệm lãnh đạo và khuyến khích. sinh viên / giảng viên / quan hệ cộng đồng. SC bao gồm chủ tịch, thư ký và các thành viên.
                    <br />
                    <br />
                    Email: <a href="#" style="color:var(--dark-red);text-decoration: none">studentcouncil@vinuni.edu.vn</a><br />
                    <br />
                    Fanpage: <a href="#" style="color: var(--dark-red); text-decoration: none">https://www.facebook.com/HocVienQuanLyGiaoDuc</a>
                </p>
            </div>
        </div>

        <div class="train__container-third">
            <div class="train__container-third-left">
                <h3>
                    CÂU LẠC BỘ & HIỆP HỘI SINH VIÊN
                </h3>
                <p>
                    Học Viện Quản Lý Giáo Dục có nhiều câu lạc bộ và hội do sinh viên điều hành, bao gồm, nhóm văn hóa, nhóm biểu diễn, nhóm tinh thần, câu lạc bộ thể thao và trò chơi, nhóm lãnh đạo và hoạt động của sinh viên, các ấn phẩm dành cho sinh viên, v.v. Tham gia các câu lạc bộ hoặc hội sinh viên là một cách tuyệt vời để rèn giũa trí não của bạn , học những điều mới, thực hành kỹ năng lãnh đạo của bạn và kết bạn với những người có cùng sở thích với bạn.
                    <br />
                    <br />
                    Khám phá các câu lạc bộ và hiệp hội do sinh viên điều hành của chúng tôi <a href="#" style="text-decoration: none;color:var(--dark-red);font-weight: bold">tại đây</a>.
                </p>
            </div>
            <div class="train__container-third-right">
                <img src="https://vinuni.edu.vn/wp-content/uploads/2020/06/A7R08070-scaled-e1592543456505-670x560.jpg" alt="Câu Lạc Bộ & Hiệp Hội Sinh Viên" />
            </div>
        </div>

        <div class="train__container-sencond">
            <div class="train__container-img-left">
                <img src="https://vinuni.edu.vn/wp-content/uploads/2020/07/D8H9235_resize-e1596188088653-670x560.jpg" alt="Đa Dạng Và Trải Nghiệm Đa Văn Hóa" />
            </div>
            <div class="train__container-img-right">
                <h3>
                    ĐA DẠNG VÀ TRẢI NGHIỆM ĐA VĂN HÓA
                </h3>
                <p>
                    Cho dù bạn là sinh viên trong nước hay sinh viên quốc tế, học tập tại Học Viện Quản Lý Giáo Dục sẽ là một trải nghiệm độc đáo và thay đổi cuộc sống. VinUniversity nhằm mục đích cung cấp cho sinh viên nhiều cơ hội để khám phá và đón nhận những khác biệt cả trong nền văn hóa và văn hóa của chính họ mà họ có thể không quen thuộc. Ngoài việc tham gia các câu lạc bộ sinh viên khác nhau, bạn cũng có thể tham gia VISA (Hiệp hội sinh viên quốc tế NAEM) được thành lập để tập hợp cộng đồng quốc tế đa dạng tại trường và hỗ trợ các hoạt động / sự kiện quốc tế trong và ngoài khuôn viên trường.
                    <br />
                    <br />
                    Tại Học Viện Quản Lý Giáo Dục, chúng tôi trân trọng và tôn vinh sự đa dạng để bạn có thể là chính mình và thích học hỏi từ những người khác. Chúng tôi tôn trọng rằng tất cả học sinh của chúng tôi là những người độc đáo về văn hóa. Một số học sinh sẽ cần không gian riêng để thực hành các nghi lễ tôn giáo; như vậy, các phòng cầu nguyện được thiết lập trong các khu vực được chỉ định đặc biệt trong khuôn viên trường.
                </p>
            </div>
        </div>

        <div class="train__container-third">
            <div class="train__container-third-left">
                <h3>
                    DỊCH VỤ CỘNG ĐỒNG
                </h3>
                <p>
                    Giáo dục tại Học Viện Quản Lý nhấn mạnh tầm quan trọng của việc học tập vì công ích và lợi ích công cộng. Học tập dựa vào cộng đồng (CBL) cho phép bạn và các tổ chức cộng đồng làm việc cùng nhau để đáp ứng cả nhu cầu của họ và yêu cầu học tập của bạn. Các tổ chức phi lợi nhuận và chính phủ xác định các dự án nghiên cứu, phân tích hoặc đánh giá sẽ hữu ích cho họ, những người hưởng lợi của họ hoặc cộng đồng rộng lớn hơn. Các dự án này sau đó được kết hợp với các khóa học tại Học Viện Quản Lý Giáo Dục.<br />
                    <br />
                    Ngoài ra, có rất nhiều cơ hội tình nguyện trong khuôn viên trường và ở Thành Phố Hồ Chí Minh sẽ cho phép bạn kết nối với cộng đồng xung quanh và tạo ảnh hưởng trong thời gian của bạn. Bằng cách tham gia vào các dự án này, bạn có thể phát triển các kỹ năng lãnh đạo, tích hợp lý thuyết và thực hành, đạt được các kỹ năng có thể tuyển dụng và làm phong phú thêm cuộc sống của bạn với tư cách là một công dân có giá trị.
                </p>
            </div>
            <div class="train__container-third-right">
                <img src="https://vinuni.edu.vn/wp-content/uploads/2020/06/pexels-photo-734658-e1592544531804-670x560.jpeg" alt="Dịch Vụ Cộng Đồng" />
            </div>
        </div>

        <div class="train__container-sencond">
            <div class="train__container-img-left">
                <img src="https://vinuni.edu.vn/wp-content/uploads/2020/07/ghep-2-e1596187485413-670x560.jpg" alt="Đa Dạng Và Trải Nghiệm Đa Văn Hóa" />
            </div>
            <div class="train__container-img-right">
                <h3>
                    HỘI TRƯỜNG KHU DÂN CƯ
                </h3>
                <p>
                    <a href="#" style="text-decoration:none;color:var(--dark-red)">NaEm Dorm</a> tọa lạc tại Vinhomes Ocean Park, Quận 2, TP.HCM.<br />
                    <br />
                    Trong trải nghiệm đại học có một không hai tại Việt Nam và theo thông lệ phổ biến ở các trường đại học tốt nhất thế giới, tất cả sinh viên năm nhất bắt buộc phải sống trong ký túc xá VinUni, thực sự là cùng sống, cùng làm và cùng học. Chúng tôi tin tưởng mạnh mẽ rằng việc sống cùng nhau cho phép sinh viên kết nối xã hội, học tập và tìm hiểu cùng nhau, và xây dựng mối quan hệ lâu dài sẽ có lợi trong suốt cuộc đời của họ.
                    <br />
                    <br />
                    Hỗ trợ trong ký túc xá sẽ được cung cấp bởi nhân viên Đời sống Nội trú, Chương trình Khoa Nội trú và Chương trình Trợ lý Nội trú.
                </p>
            </div>
        </div>

        <div class="train__container-third">
            <div class="train__container-third-left">
                <h3>
                    CÁC DỊCH VỤ SỨC KHOẺ
                </h3>
                <p>
                    Phòng khám trong khuôn viên trường của Học Viện Quản Lý Giáo Dục nhằm mục đích cung cấp dịch vụ chăm sóc chất lượng cao, dễ tiếp cận và bảo mật cho sinh viên và nhân viên của chúng tôi. Sinh viên được hoan nghênh sử dụng phòng khám y tế NAEM như một nguồn chăm sóc sức khỏe ban đầu của họ trong suốt thời gian học tại trường đại học.
                    <br />
                    <br />
                    Dịch vụ chăm sóc y tế chất lượng - Phòng khám được vận hành bởi đội ngũ nhân viên có năng lực, kinh nghiệm làm việc tại các bệnh viện tốt nhất trên cả nước.
                    <br />
                    <br />
                    Vị trí thuận tiện - Phòng khám nằm ở tầng 1 của tòa nhà chính Học Viện Quản Lý Giáo Dục, rất dễ dàng tiếp cận.<br />
                    <br />
                    Các dịch vụ có thể tiếp cận, được đài thọ - Tất cả các dịch vụ được cung cấp miễn phí cho sinh viên và nhân viên Học Viện Quản Lý Giáo Dục.<br />
                    <br />
                    Dễ sử dụng - Phòng khám hoạt động cả khi đến khám hoặc theo các cuộc hẹn đã đặt trước.
                </p>
            </div>
            <div class="train__container-third-right">
                <img src="https://vinuni.edu.vn/wp-content/uploads/2020/06/medical-appointment-doctor-healthcare-40568-e1592544980380-670x560.jpeg" alt="Các Dịch Vụ Sức Khỏe" />
            </div>
        </div>

        <div class="train__container-sencond">
            <div class="train__container-img-left">
                <img src="https://vinuni.edu.vn/wp-content/uploads/2020/06/pexels-photo-1311518-1-e1592545104307-670x560.jpeg" alt="Dịch Vụ Tư Vấn" />
            </div>
            <div class="train__container-img-right">
                <h3>
                    DỊCH VỤ TƯ VẤN
                </h3>
                <p>
                    Tại Học Viện Quản Lý Giáo Dục, chúng tôi mong muốn sinh viên có được sự hỗ trợ phù hợp vào đúng thời điểm. Tư vấn có sẵn cho tất cả học sinh thấy họ cần nói chuyện với ai đó để được hỗ trợ.
                    <br />
                    <br />
                    Chúng tôi có một loạt các dịch vụ hỗ trợ để giúp bạn giữ gìn sức khỏe để bạn có thể tận hưởng thời gian của mình tại đây. Đặt lịch hẹn với các tư vấn viên được đào tạo và giàu kinh nghiệm của chúng tôi bất cứ khi nào bạn cần trợ giúp. Chúng tôi cung cấp các dịch vụ khác nhau, từ việc giúp bạn giải tỏa cảm xúc đau khổ hiện tại, đến khám phá các chiến lược đối phó và tư vấn cho bạn về các lộ trình cho các giải pháp lâu dài.
                </p>
            </div>
        </div>

        <div class="train__container-third">
            <div class="train__container-third-left">
                <h3>
                    DỊCH VỤ NGƯỜI KHUYẾT TẬT
                </h3>
                <p>
                    Chính sách của Học Viện Quản Lý Giáo Dục là đảm bảo rằng không có học sinh khuyết tật nào đủ tiêu chuẩn bị từ chối các quyền lợi, bị loại khỏi việc tham gia hoặc bị phân biệt đối xử trong bất kỳ chương trình hoặc hoạt động nào của trường.
                    <br />
                    <br />
                    Nhà trường tận tâm làm việc với học sinh và nhân viên để tạo ra một môi trường học tập dễ tiếp cận và hòa nhập, đồng thời xóa bỏ hoặc giảm bớt các rào cản đối với việc học.
                </p>
            </div>
            <div class="train__container-third-right">
                <img src="https://vinuni.edu.vn/wp-content/uploads/2020/07/wheelchairs-79604_1920-e1593660816792-670x560.jpg" alt="Dịch Vụ Người Khuyết Tật" />
            </div>
        </div>

        <div class="train__container-sencond">
            <div class="train__container-img-left">
                <img src="https://vinuni.edu.vn/wp-content/uploads/2020/06/DB0Wj2nXgAAogQi-e1592545158926-670x560.jpg" alt="Kinh Nghiệm Toàn Cầu" />
            </div>
            <div class="train__container-img-right">
                <h3>
                    KINH NGHIỆM TOÀN CẦU
                </h3>
                <p>
                    Sinh viên đại học tại Học Viện Quản Lý Giáo Dục cũng có thể đăng ký và tham gia các chương trình trao đổi tại các trường đại học đối tác quốc tế. Chúng tôi đang làm việc với các trường đại học hàng đầu trên thế giới, bao gồm cả hai đối tác chiến lược là Đại học Cornell và Đại học Pennsylvania, để lên kế hoạch thành lập các chương trình học trao đổi cho sinh viên Học Viện Quản Lý Giáo Dục của chúng tôi. Bạn có thể chọn tham gia một trong các chương trình trao đổi khác nhau :
                    <br /> - Học phần Trao đổi sinh viên 1: 1<br /> - Thăm học sinh <br /> - Bảng thông tin trao đổi đại học (dành cho sinh viên trong nước)
                </p>
            </div>
        </div>
    </div>
</div>
